
<app-header></app-header>
<div class="content">
  <div class="row">
    <div class="col-md-8 shadow" >
      <div class="mb-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Active Orders</li>
        </ul>
        <div class="row">
          <div class="col-md-4 pt-3" *ngFor="let activeOrder of activeOrders">

            <!-- Marketing campaigns -->
            <div class="card">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{activeOrder.item.name}}</li>
              </ul>
              <div class="card-body">
                <h1 class="card-title text-md-center text-dark">{{getTotalQuentity(activeOrder.kotOrder)}}</h1>

              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="scroll-container hide-scrollbar">
                    <div class="title text-md-center" (click)="updateOrderItemStatus(odr.order, activeOrder.item)" *ngFor="let odr of activeOrder.kotOrder">
                      {{ odr.table.tableNo }}<div class="subtitle text-md-center">{{ odr.quantity}}</div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <!-- /marketing campaigns -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 shadow">
      <div class="mb-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">New Orders</li>
        </ul>

        <ngb-accordion [closeOthers]="true" #acc="ngbAccordion" activeIds="ngb-panel-0">
          <ngb-panel *ngFor="let order of orders">
            <ng-template ngbPanelTitle>
              <span>New Orders : {{order.order.orderNo}} on table no : {{order.table.tableNo}}</span>
            </ng-template>
            <ng-template ngbPanelContent>
              <table class="table">
                <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Quantity</th>
                  <!--<th scope="col">Handle</th>-->
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let itemsOnCart of order.itemsOnCart; let i=index">
                  <th scope="row">{{i +1}}</th>
                  <td>{{itemsOnCart.item.name}}</td>
                  <td>{{itemsOnCart.quantity}}</td>
                  <!--<td>@mdo</td>-->
                </tr>
                </tbody>
              </table>
              <div class="text-md-center">
              <button type="button" class="btn btn-success" (click)="approveOrder(order.order)">Approve</button>
              <button type="button" class="btn btn-danger ml-3" (click)="openDialog(order.order)">Reject</button>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>

        <!--<div class="sbp-preview-content pt-3" *ngFor="let order of orders">
          <div class="alert-info" data-toggle="collapse" data- data-target="#collapse{{order.order.orderNo}}">
            <div role="alert" class="alert alert-info">New Orders : {{order.order.orderNo}} on table no : {{order.table.tableNo}}</div>
          </div>
          <div id="collapse{{order.order.orderNo}}" class="panel-collapse collapse">
            <div class="panel-body">Panel Body</div>
            <div class="panel-footer">Panel Footer</div>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</div>

<ng-http-loader></ng-http-loader>
