<div mat-dialog-content>
  <mat-card-title>
    Reject Message
  </mat-card-title>

  <mat-form-field>
    <!--<input matInput type="text" [(ngModel)]="data.rejectMessage">-->
    <textarea [(ngModel)]="data.rejectMessage"
              matInput>
  </textarea>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button [mat-dialog-close]="data" cdkFocusInitial class="genric-btn primary radius" mat-button>Check</button>
  <button (click)="onNoClick()" class="genric-btn primary radius" mat-button>Close</button>
</div>
