.col-md-4{
  padding-bottom: 10px;
}
.img-category{
  width:15px;
}

.categories_img{
  position: absolute;
  margin-top: 75px;
  margin-left: 95px;
}

.veg{
  width:30px;
  height:30px;
  position:absolute;
  overflow: hidden;
}
.veg .img-category {
  width:50px;
  padding:10px 0 0 10px;
}

.non_veg{
  width:30px;
  height:30px;
  position:absolute;
  overflow: hidden;
}

.non_veg .img-category{
  width: 50px;
  object-position: -20px;
  padding:10px 0 0 10px;
}

._33Hf_{
  float:right;
  margin-top:5px;
}

._33HL_{
  float:left;
  margin-top:5px;
}
._33HL_:hover{
  background-color: #60b246;
  color: #ffffff;
}
._3L1X9{
  display:inline-block;
  height:25px;
  width:75px;
  border:2px solid #000000;
  color:#000000;
  font-size:.9rem;
  font-weight:600;
  line-height:30px;
  position:relative;
  text-align:center;
  background-color:#fff;
}
/*._2Thnf {
  animation:_1gckB .2s ease;
}*/
._1ds9T{
  font-size: 20px;
  position:absolute;
  right:22px;
  top:-2px;
  width:25%;
  display:inline-block;
  opacity:1;
  transform:translateZ(0);
  cursor:pointer;
  font-weight:600;
  line-height: 0;
}
._1ds9T:hover{
  background-color: #000000;
  color: #ffffff;
}

._29Y5Z{
  font-size: 20px;
  position:absolute;
  left:-2px;
  top:0;
  width:25%;
  display:inline-block;
  opacity:1;
  transform:translateZ(0);
  cursor:pointer;
  font-weight:600;
  line-height: 0;
}

._29Y5Z:hover{
 background-color: #000000;
  color: #ffffff;
}

._2zAXs{

  position:absolute;
  left: 22.5%;
  top:-2px;
  width:25px;
  height:25px;
  display:inline-block;
  opacity:1;
  transform:translateZ(0);
  line-height: 25px;
}
.cart_icon{
  font-size: 20px;
  position: initial;
  float: right;
  cursor:pointer;
  display:inline-block;
}
.cart_icon:hover{
  background-color: #000000;
  color: #ffffff;
}
._29Y5Z:hover{
  background-color: #000000;
  color: #ffffff;
}



.ftco-section {
  padding: 3em 0;
  position: relative;
}
.menu-wrap {
  margin-bottom: 3em;
}
.ftco-animate {
  opacity: 0;
}

.heading-menu h3 {
  font-size: 22px !important;
  font-weight: 600;
  margin-bottom: 2em;
}

.menus {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #e6e6e6;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menus .menu-img {
  margin-right: 20px;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.hotel-img, .img, .blog-img, .user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.menus .text {
  width: calc(100% - 80px);
}

.menus .text .one-half {
  width: calc(100% - 80px);
}
.menus .text .one-half h3 {
  font-size: 17px !important;
}

.menus .text .one-forth {
  width: 80px;
  text-align: right;
}

.menus .text .one-forth .price {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.2);
  font-weight: 600;
  line-height: 1.3;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menus:hover .text .one-forth .price {
  color: rgba(1, 1, 1, 1);
}

.menus .text p {
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.3);
}

.ftco-animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.menus:hover {
  border-bottom: 1px dashed black;
}
