<app-header></app-header>
<!-- Banner Area End -->

<!-- Food Area starts -->
<section class="food-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-top">
          <h3><span class="style-change">We serve</span> <br>delicious food</h3>
          <p class="pt-3">They're fill divide i their yielding our after have him fish on there for greater man moveth, moved Won't together isn't for fly divide mids fish firmament on net.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let itemsOnCart of itemsOnCarts" class="col-md-4 col-sm-6 shadow p-3 mb-5 bg-white rounded">
        <div class="single-food">
          <div class="{{itemsOnCart.item.category | lowercase}}" >
            <img src="/assets/images/Veg_nonVeg.png" class="img-category" alt="">
          </div>
          <div class="food-img">
            <img src="/assets/images/food{{itemsOnCart.item.id}}.jpg" class="img-fluid" onerror="this.src='/assets/images/not-available.jpg';" alt="">
          </div>
          <div class="food-content">
            <div class="d-flex justify-content-between">
              <h5>{{itemsOnCart.item.name}}</h5>
              <span class="style-change">₹{{itemsOnCart.item.price}}</span>
            </div>
            <p class="pt-3">{{getIngredientsList(itemsOnCart.item.ingredients)}}</p>
          </div>
        </div>
        <div class="_33Hf_ _3L1X9 ">
          <div class="_1ds9T" title= "Add Quantity" (click)="getNext(itemsOnCart)"><i class="material-icons">
            add
          </i></div>
          <div class="_29Y5Z" title= "Remove Quantity" (click)="getPrevious(itemsOnCart)"><i class="material-icons">
            remove
          </i></div>
          <div class="_2zAXs" id="qua">{{itemsOnCart.quantity? itemsOnCart.quantity : 0}}</div>
          <div class="cart_icon1" title= "Add to cart">
            <i class="material-icons cart_icon" (click)="addtocart(itemsOnCart)">
              shopping_cart
            </i>
            <!--<img class="cart_icon" src="/assets/images/cart_icon.png"  alt="">-->
          </div>
        </div>
        <div class="_33HL_ _3L1X9">
          <div class="kart" routerLink="/cart">Go to Cart</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Food Area End -->
<!--<app-booktable></app-booktable>-->
<app-footer></app-footer>
