.col-md-4{
  padding-bottom: 10px;
}

.veg{
  width:50px;
  height:50px;
  position:absolute;
  overflow: hidden;
}
.veg .img-category {
  width:85px;
  padding:10px 0 0 10px;
}

.nonveg{
  width:50px;
  height:50px;
  position:absolute;
  overflow: hidden;
}

.nonveg .img-category{
  width: 85px;
  object-position: -40px;
  padding:10px 0 0 10px;
}

._33Hf_{
  float:right;
  margin-top:5px;
}

._33HL_{
  float:left;
  margin-top:5px;
}
._33HL_:hover{
  background-color: #60b246;
  color: #ffffff;
}
._3L1X9{
  display:inline-block;
  height:30px;
  width:120px;
  border:1px solid #d4d5d9;
  color:#60b246;
  font-size:.9rem;
  font-weight:600;
  line-height:30px;
  position:relative;
  text-align:center;
  background-color:#fff;
}
/*._2Thnf {
  animation:_1gckB .2s ease;
}*/
._1ds9T{
  position:absolute;
  right:30px;
  top:0;
  width:30px;
  display:inline-block;
  opacity:1;
  transform:translateZ(0);
  cursor:pointer;
  font-size:150%;
  font-weight:600;
}
._1ds9T:hover{
  background-color: #60b246;
  color: #ffffff;
}

._29Y5Z{
  position:absolute;
  left:0;
  top:0;
  width:30px;
  display:inline-block;
  opacity:1;
  transform:translateZ(0);
  cursor:pointer;
  font-weight:600;
  font-size:1.5rem;
}

._29Y5Z:hover{
 background-color: #60b246;
  color: #ffffff;
}

._2zAXs{
  position:absolute;
  left: 30px;
  top:0;
  width:30px;
  display:inline-block;
  opacity:1;
  transform:translateZ(0);
}
.cart_icon{
  width: 27px;
  position: initial;
  float: right;
  cursor:pointer;
  display:inline-block;
  padding: 3px 3px 0px 1px;
}
._29Y5Z:hover{
  background-color: #60b246;
  color: #ffffff;
}
