<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="main-card mb-3 card">

        <div class="table-responsive">
          <table class="align-middle mb-0 table table-borderless table-striped table-hover">
            <thead>
            <tr>
              <th class="text-center">Order#</th>
              <th class="text-center">Table#</th>
              <th class="text-center">Total Item</th>
              <th class="text-center">Total Bill</th>
              <th class="text-center">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="text-center text-muted">#345</td>
              <td class="text-center text-muted">#TH01</td>
              <td class="text-center">1</td>
              <td class="text-center">400</td>
              <td class="text-center">
                <div class="badge badge-warning">Pending</div>
              </td>
            </tr>
            <tr>
              <td class="text-center text-muted">#347</td>
              <td class="text-center text-muted">#TH01</td>
              <td class="text-center">5</td>
              <td class="text-center">500</td>
              <td class="text-center">
                <div class="badge badge-success">Completed</div>
              </td>
            </tr>
            <tr>
              <td class="text-center text-muted">#321</td>
              <td class="text-center text-muted">#TH01</td>
              <td class="text-center">10</td>
              <td class="text-center">200</td>
              <td class="text-center">
                <div class="badge badge-danger">In Progress</div>
              </td>
            </tr>
            <tr>
              <td class="text-center text-muted">#55</td>
              <td class="text-center text-muted">#TH01</td>
              <td class="text-center">15</td>
              <td class="text-center">100</td>
              <td class="text-center">
                <div class="badge badge-info">On Hold</div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-http-loader></ng-http-loader>
