<app-header></app-header>
<div class="container mb-3">
  <div class="row">
    <div class="col-5 p-2">
      <div class="card pl-2 pr-2">
        <mat-card-title class="border-bottom">Payment Options</mat-card-title>
        <mat-action-list>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <input (change)="selected('card')" class="form-check-input" name="exampleRadios" type="radio"
                     value="card">
              <div class="pl-2">Pay by Debit / Credit / ATM Card</div>
              <div class="col-6">
                <img alt="" class="rounded img-thumbnail" src="assets/images/cards.jpeg">
              </div>
              <div *ngIf="paymentMethod=='CARD'"><label>Please Provide last four digit of Card number</label>
                <br/><small>XXXX-XXXX-XXXX-<input [(ngModel)]="value" class="border" type="number"></small></div>
            </li>
            <li class="list-group-item">
              <input (change)="selected('upi')" class="form-check-input" name="exampleRadios" type="radio" value="upi">
              <div class="pl-2">Pay by UPI</div>
              <div class="col-3">
                <img alt="" class="rounded img-thumbnail" src="assets/images/UPI.png">
              </div>
              <div *ngIf="paymentMethod=='UPI'"><label>Please Provide your UPI id</label>
                <br/><small><input [(ngModel)]="value" class="border" type="text"></small></div>
            </li>
            <li class="list-group-item">
              <input (change)="selected('cash')" class="form-check-input" name="exampleRadios" type="radio"
                     value="cash">
              <div class="pl-2">Pay by Cash</div>
              <div class="col-9">
                <img alt="" class="rounded img-thumbnail" src="assets/images/cash_payment.png" style="width: 15%">
              </div>
              <div *ngIf="paymentMethod=='CASH'"><label>Please enter payed amount</label>
                <br/><small><input [(ngModel)]="value" class="border" type="number"> Balance
                  : {{value ? payment.invoiceDetails.totalAmount - value : payment.invoiceDetails.totalAmount}}</small>
              </div>
            </li>
            <li class="list-group-item">
              <input (change)="getOtp()" [(ngModel)]="isPointUsed" [disabled]="subscription==undefined || ( subscription!=undefined && subscription.points < 10)" class="form-check-input"
                     disabled name="exampleRadios"
                     type="checkbox"
                     value="points">
              <div class="pl-2">Pay by Subscription Points</div>
              <div *ngIf="isPointUsed"><small>Enter OTP : </small><input [(ngModel)]="otp" class="border" type="number">
                <img (click)="verifyOtp()" alt="" class="img-category pl-1"
                     src="assets/images/icons8-forward-button-24.png">
              </div>
              <div *ngIf="subscription">
                <small class="text-muted">Available Points : {{subscription.points}}</small>
              </div>
              <div *ngIf="subscription && subscription.points < 100">
                <small class="text-muted">*Points can be used once membership has more than 100 points</small>
              </div>
              <div class="button-group-area">
                <a (click)="openDialog()" class="genric-btn primary radius">Check Membership</a>
              </div>
            </li>
          </ul>
        </mat-action-list>
      </div>
    </div>
    <div class="col-7 p-2">
      <div class="card">
        <div class="row">
          <div class="col text-center">
            <!-- Logo--><img alt="..." class="img-fluid" src="assets/images/logo/logo.png" style="max-width: 6rem;">
            <!-- Heading-->
            <p class="mb-0">(A Unit Of SAM Hospitality)</p>
            <h6 class="text-uppercase text-muted"></h6>
            <p class="text-muted mb-0">GSTIN: 08ADMFS1179B1ZO</p>
          </div>
        </div>
        <div class="row ml-2 mr-2">
          <div class="col-sm-6">
            <strong *ngIf="value">Payment Method:</strong><br>
            <div *ngIf="value">Payed by {{paymentMethod}}
              <br><small *ngIf="paymentMethod=='CARD'">XXXX-XXXX-XXXX-</small>{{value}}<br>
            </div>
            <div *ngIf="subscription">{{subscription.user.email}}</div>
          </div>
          <div class="col-sm-6 text-right">
            <strong>Order Date:</strong><br>
            {{todayDate | date:'dd-MM-yyyy hh:mm':'IST'}}<br>
            <strong>Table No: </strong><br>
            {{table.tableNo}}
          </div>
        </div>
        <div class="row mr-2 ml-2">
          <div *ngIf="items" class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <strong>Order summary</strong>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr>
                      <th class="px-0 bg-transparent" style="width: 50%"><span class="h6">Item</span></th>
                      <th class="px-0 bg-transparent text-right" style="width: 15%"><span class="h6">#</span></th>
                      <th class="px-0 bg-transparent text-right" style="width: 20%"><span class="h6">Price</span></th>
                      <th class="px-0 bg-transparent text-right" style="width: 15%"><span class="h6">Total</span></th>
                    </tr>
                    </thead>
                    <tbody class="border-bottom">
                    <tr *ngFor="let item of items">
                      <td class="px-0 border-0 small">{{item.item.name}}
                        <div *ngIf="item.complimentaryQuantity > 0">(Complimentary {{item.complimentaryQuantity}}Qty)
                        </div>
                      </td>
                      <td class="px-0 border-0 small text-right">{{item.quantity}}</td>
                      <td class="px-0 border-0 small text-right">{{item.item.price + item.item.addonsPrice}}</td>
                      <td
                        class="px-0 border-0 small text-right">{{(item.item.price + item.item.addonsPrice) * (item.quantity - item.complimentaryQuantity) | number : '1.2'}}</td>
                    </tr>
                    </tbody>
                    <tfoot class="border-bottom">
                    <tr>
                      <td class="text-muted border-0 small text-right" colspan="3">Subtotal Amount</td>
                      <td
                        class="font-medium border-0 float-right small">{{payment.invoiceDetails.subTotal | number : '1.2' }}</td>
                    </tr>
                    <tr *ngFor="let component of payment.billingComponents">
                      <td class="border-0 small text-muted text-right" colspan="3">{{component.name}}
                        @{{component.value}}</td>
                      <td
                        class="font-medium border-0 float-right small">{{component.calculatedValue | number : '1.2' }}</td>
                    </tr>
                    <tr *ngIf="subscription!=undefined && isOtpVerified">
                      <td class="text-muted border-0 small text-right" colspan="3">Points</td>
                      <td class="font-medium border-0 float-right small">{{getPoint() | number : '1.2' }}</td>
                    </tr>
                    <tr class="border-top">
                      <td class="border-0 text-right" colspan="3">Amount Payable</td>
                      <td
                        class="font-medium border-0 float-right ">{{payment.invoiceDetails.totalAmount | number : '1.2' }}</td>
                    </tr>

                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col text-center py-5">
          <!-- Heading-->
          <p class="mb-0 font-weight-bold text-md-center">www.stepoutcafe.in</p>
          <p class="mb-0"><i class="fa fa-facebook"></i> : @stepoutjaipur</p>
          <p class="mb-0"><i class="fa fa-instagram"></i> : @stepoutjaipur</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row"></div>
  <div class="button-group-area text-center">
    <a (click)="completePayment()" *ngIf="paymentMethod && value" class="genric-btn primary radius">Complete Payment</a>
    <!--<a class="genric-btn primary radius" (click)="openDialog()">Split Bill</a>-->
  </div>
</div>
<ng-http-loader backgroundColor="#ffb606" spinner="skDoubleBounce"></ng-http-loader>
