<div class="container"><div class="card card-body p-5">
  <div class="row">
    <div class="col text-right">
      <!-- Badge-->
      <div class="badge badge-success">Payed</div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <!-- Logo--><img src="assets/images/logo/logo.png" alt="..." style="max-width: 6rem;" class="img-fluid mb-4">
      <!-- Heading-->
      <h2 class="mb-2">Invoice from Vintage, Ltd.</h2>
      <p class="text-muted mb-6">Invoice #20190204</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <h6 class="text-uppercase text-muted">Invoiced from</h6>
      <p class="text-muted mb-4"><strong class="text-body">Franz Kafka</strong><br>                    Bank Clerk<br>                    Nerudova 23<br>                    111 50 Praha</p>
      <h6 class="text-uppercase text-muted">Invoiced ID</h6>
      <p class="mb-4">#20190204</p>
    </div>
    <div class="col-12 col-md-6 text-md-right">
      <h6 class="text-uppercase text-muted">Invoiced to</h6>
      <p class="text-muted mb-4"><strong class="text-body">Jack London</strong><br>                    Lonely Wolf<br>                    1150 Lost St.<br>                    Middle of Nowhere</p>
      <h6 class="text-uppercase text-muted">Due date</h6>
      <p class="mb-4">
        <time datetime="2018-04-23">Feb 23, 2019</time>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <!-- Table-->
      <div class="table-responsive">
        <table class="table my-4">
          <thead>
          <tr>
            <th class="px-0 bg-transparent border-top-0"><span class="h6">Item Description</span></th>
            <th class="px-0 bg-transparent border-top-0"><span class="h6">Quantity</span></th>
            <th class="px-0 bg-transparent border-top-0 text-right"><span class="h6">Cost per Item</span></th>
            <th class="px-0 bg-transparent border-top-0 text-right"><span class="h6">Total Cost</span></th>
          </tr>
          </thead>
          <tbody>
          <tr >
            <td class="px-0">Novel proofreading</td>
            <td class="px-0">10</td>
            <td class="px-0 text-right">923</td>
            <td class="px-0 text-right">9230</td>
          </tr>
          <tr>
            <td class="px-0 border-top"><strong>Total amount due</strong></td>
            <td colspan="3" class="px-0 text-right border-top"><span class="h3">$9533</span></td>
          </tr>
          </tbody>
        </table>
      </div>
     <!-- <hr class="my-5">
      <h6 class="text-uppercase">Note</h6>-->
    </div>
  </div>
</div>
</div>
