.card {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}
.card {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: #333;
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.card [class*=card-header-]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
  border-radius: 3px;
  margin-top: -20px;
  padding: 15px;
}
.card .card-header-primary .card-icon, .card .card-header-primary .card-text, .card .card-header-primary:not(.card-header-icon):not(.card-header-text) {
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(156,39,176,.4);
}
.card.bg-primary, .card .card-header-primary .card-icon, .card .card-header-primary .card-text, .card .card-header-primary:not(.card-header-icon):not(.card-header-text), .card.card-rotate.bg-primary .back, .card.card-rotate.bg-primary .front {
  background: linear-gradient(60deg,#ab47bc,#8e24aa);
}

.card [class*=card-header-] {
  margin: 0 15px;
  padding: 0;
  position: relative;
}
.card .card-header {
  z-index: 3!important;
}
.card[class*=bg-], .card[class*=bg-] .card-title, .card[class*=bg-] .card-title a, .card[class*=bg-] .icon i, .card [class*=card-header-], .card [class*=card-header-] .card-title, .card [class*=card-header-] .card-title a, .card [class*=card-header-] .icon i {
  color: #fff;
}
.card .card-header {
  border-bottom: none;
  background: transparent;
}
.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-header-pills, .card-header-tabs {
  margin-right: -.625rem;
  margin-left: -.625rem;
}
.card .card-header.card-header-tabs .nav-tabs-title {
  float: left;
  padding: 10px 10px 10px 0;
  line-height: 24px;
}
.card .card-header.card-header-tabs .nav-tabs {
  background: transparent;
  padding: 0;
}
.card .card-header .nav-tabs {
  padding: 0;
}
.nav-tabs {
  border: 0;
  border-radius: 3px;
  padding: 0 15px;
}
.nav-tabs .nav-item .nav-link.active {
  background-color: hsla(0,0%,100%,.2);
  transition: background-color .3s .2s;
}
.nav-tabs .nav-link.active {
  color: #333;
  border-color: #9c27b0;
}
.nav-tabs .nav-item .nav-link, .nav-tabs .nav-item .nav-link:focus, .nav-tabs .nav-item .nav-link:hover {
  border: 0!important;
  color: #fff!important;
  font-weight: 500;
}
.nav-tabs .nav-item .nav-link {
  position: relative;
  color: #fff;
  border: 0;
  margin: 0;
  border-radius: 3px;
  line-height: 24px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 15px;
  background-color: transparent;
  transition: background-color .3s 0s;
}

.nav-tabs .nav-item .material-icons {
  margin: -1px 5px 0 0;
}
a .material-icons {
  vertical-align: middle;
}

.card .card-body {
  padding: .9375rem 20px;
  position: relative;
}
.card .card-body, .card .card-footer {
  padding: .9375rem 1.875rem;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.table>tbody>tr {
  position: relative;
}
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  -webkit-tap-highlight-color: transparent;
}

.card .table tr:first-child td {
  border-top: none;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 12px 8px;
  vertical-align: middle;
  border-color: #ddd;
}

.card .tab-content .form-check {
  margin-top: 6px;
}
.card .form-check {
  margin-top: 5px;
}
.table .form-check {
  margin-top: 0;
}

.form-check, label {
  font-size: 14px;
  line-height: 1.42857;
  color: #aaa;
  font-weight: 400;
}
.form-check, .form-check .form-check-label {
  padding-left: 0;
}
.form-check {
  margin-bottom: .5rem;
}
.form-check .form-check-label {
  cursor: pointer;
  padding-left: 25px;
  position: relative;
}

.form-check .form-check-input {
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}
.form-check .form-check-input {
  position: absolute;
  margin: 0;
  z-index: -1;
  left: 0;
  pointer-events: none;
}

.table .form-check .form-check-sign {
  top: -13px;
  left: 0;
  padding-right: 0;
}
.form-check .form-check-label span {
  display: block;
  position: absolute;
  left: -1px;
  top: -1px;
  transition-duration: .2s;
}
.form-check .form-check-sign {
  vertical-align: middle;
  position: relative;
  top: -2px;
  float: left;
  padding-right: 10px;
  display: inline-block;
}
.form-check .form-check-input:checked~.form-check-sign .check {
  background: #9c27b0;
}

.form-check .form-check-sign .check {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0,0,0,.54);
  overflow: hidden;
  z-index: 1;
  border-radius: 3px;
}

.card .table tr:first-child td {
  border-top: none;
}

.tab-content .tab-pane .td-actions {
  display: -ms-flexbox;
  display: flex;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 12px 8px;
  vertical-align: middle;
  border-color: #ddd;
}

.table .td-actions .btn {
  margin: 0;
  padding: 5px;
  border: none;
}
.btn.btn-primary.btn-link, .btn.btn-primary.btn-link:active, .btn.btn-primary.btn-link:focus, .btn.btn-primary.btn-link:hover {
  background-color: transparent;
  color: #9c27b0;
}
.btn.btn-primary.btn-link {
  box-shadow: none;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn-group-sm .btn, .btn-group-sm>.btn, .btn.btn-sm {
  padding: .40625rem 1.25rem;
  font-size: .6875rem;
  line-height: 1.5;
  border-radius: .2rem;
}
.btn.btn-default.btn-link, .btn.btn-link {
  background-color: transparent;
  color: #999;
  box-shadow: none;
}
.btn.btn-primary {
  color: #fff;
  background-color: #9c27b0;
  border-color: #9c27b0;
  box-shadow: 0 2px 2px 0 rgba(156,39,176,.14), 0 3px 1px -2px rgba(156,39,176,.2), 0 1px 5px 0 rgba(156,39,176,.12);
}
.btn .material-icons, .btn:not(.btn-just-icon):not(.btn-fab) .fa {
  position: relative;
  display: inline-block;
  top: 0;
  margin-top: -1em;
  margin-bottom: -1em;
  font-size: 1.1rem;
  vertical-align: middle;
}

.card .card-header-warning .card-icon, .card .card-header-warning .card-text, .card .card-header-warning:not(.card-header-icon):not(.card-header-text) {
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);
}



.card .card-header .card-title {
  margin-bottom: 3px;
}
.card .card-title {
  margin-top: 0;
  margin-bottom: 3px;
}
.card .card-title {
  margin-top: .625rem;
}
.card-title, .card-title a, .footer-big h4, .footer-big h4 a, .footer-big h5, .footer-big h5 a, .footer-brand, .footer-brand a, .info-title, .info-title a, .media .media-heading, .media .media-heading a, .title, .title a {
  color: #3c4858;
  text-decoration: none;
}
.card.bg-warning, .card .card-header-warning .card-icon, .card .card-header-warning .card-text, .card .card-header-warning:not(.card-header-icon):not(.card-header-text), .card.card-rotate.bg-warning .back, .card.card-rotate.bg-warning .front {
  background: linear-gradient(60deg,#ffa726,#fb8c00);
}

.card [class*=card-header-] .card-title+.card-category {
  color: hsla(0,0%,100%,.8);
}
.card .card-header .card-category {
  margin: 0;
}
.card[class*=bg-] .author a, .card[class*=bg-] .card-category, .card[class*=bg-] .card-description, .card[class*=bg-] .stats, .card [class*=card-header-] .author a, .card [class*=card-header-] .card-category, .card [class*=card-header-] .card-description, .card [class*=card-header-] .stats {
  color: hsla(0,0%,100%,.8);
}
.card .card-category:not([class*=text-]) {
  color: #999;
}
.card .card-category {
  margin-top: 10px;
}
b {
  color: #FFFFFF;
}
.material-icons-heading{
  font-size: 30px;
}
.material-icons-addon{
  font-size: 10px;
}

.slow .toggle-group { transition: left 0.7s; -webkit-transition: left 0.7s; }

$brand-success: #5cb85c;
$loader-size: 2em;
$check-height: $loader-size/2;
$check-width: $check-height/2;
$check-left: ($loader-size/6 + $loader-size/12);
$check-thickness: 3px;
$check-color: $brand-success;

.circle-loader {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left-color: $check-color;
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: $loader-size;
  height: $loader-size;
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: $check-color;
  transition: border 500ms ease-out;
}

.checkmark {
  display: block;

&.draw:after {
   animation-duration: 800ms;
   animation-timing-function: ease;
   animation-name: checkmark;
   transform: scaleX(-1) rotate(135deg);
 }

&:after {
   opacity: 1;
   height: $check-height;
   width: $check-width;
   transform-origin: left top;
   border-right: $check-thickness solid $check-color;
   border-top: $check-thickness solid $check-color;
   content: '';
   left: $check-left;
   top: $check-height;
   position: absolute;
 }
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: $check-width;
    opacity: 1;
  }
  40% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
  100% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
}





