<app-header></app-header>
<div class="container">
  <!-- Page Header-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4>Item Ingredients</h4>
        </div>
        <div class="card-body">
          <div *ngIf="!isCreateActive" class="row">
            <div class="col-md-6">
              <mat-form-field appearance="legacy">
                <mat-label>Item Ingredient Name:</mat-label>
                <input matInput placeholder="Enter Name">
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="!isCreateActive" class="row">
            <div class="container border-top-generic text-center">
              <div class="button-group-area">
                <a (click)="search()" class="genric-btn primary radius">Search</a>
                <a (click)="prepareForCreate()" class="genric-btn primary radius">Create</a>
              </div>
            </div>
          </div>
          <div *ngIf="isSearchActive" class="row">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table table-bordred table-striped" id="mytable">
                      <thead>
                      <th>Ingredient Name</th>
                      <th>Edit</th>
                      <th>Delete</th>
                      </thead>
                      <tbody>
                      <tr *ngFor="let ingredient of ingredientsList">
                        <td>{{ingredient.name}}</td>
                        <td><p (click)="edit(this.ingredient)" class="icon" data-placement="top" data-toggle="tooltip"
                               title="Edit"><span class="material-icons">edit</span></p></td>
                        <td><p (click)="delete(this.ingredient.id)" class="icon" data-placement="top" data-toggle="tooltip"
                               title="Delete"><span class="material-icons">delete_outline</span>
                        </p></td>
                      </tr>
                      </tbody>
                    </table>

                    <div class="clearfix"></div>
                    <ul class="pagination pull-right">
                      <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                      <li class="active"><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">5</a></li>
                      <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                    </ul>

                  </div>

                </div>
              </div>
            </div>
          </div>
          <form (ngSubmit)="onSubmit()" *ngIf="isCreateActive" [formGroup]="ingredientsForm" class="form-validate"
                novalidate="novalidate">
            <div class="form-group">
              <input [(ngModel)]="ingredient.id" class="form-control" formControlName="id" name="id"
                     placeholder="Please specify Item name" required="" type="hidden">
            </div>
            <div class="form-group">
              <label>Ingredient Name</label>
              <label>
                <input [(ngModel)]="ingredient.name" class="form-control" formControlName="name" name="name"
                       placeholder="Please specify Item name" required="" type="text">
              </label>
            </div>
            <div class="button-group-area">
              <button class="genric-btn primary radius" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-http-loader></ng-http-loader>

